# .ebextensions/target-group.config

Resources:
  MyExtraTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: my-extra-target-group
      Port: 80
      Protocol: HTTP
      VpcId: vpc-0b64535ec8fadbdc6  # Replace with your actual VPC ID
      HealthCheckIntervalSeconds: 30
      HealthCheckPath: /
      HealthCheckProtocol: HTTP
      HealthCheckTimeoutSeconds: 5
      HealthyThresholdCount: 5
      UnhealthyThresholdCount: 2
      TargetType: instance  