option_settings:
  aws:elasticbeanstalk:environment:environment:
    LoadBalancerType: application

commands:
  add_target_group:
    command: |
      aws elbv2 create-target-group \
        --name my-extra-target-group \
        --protocol HTTP \
        --port 80 \
        --vpc-id vpc-0b64535ec8fadbdc6 \
        --region us-east-1

 # register_target:
    #command: |
      #aws elbv2 register-targets \
        #--target-group-arn arn:aws:elasticloadbalancing:us-east-1:123456789012:targetgroup/my-extra-target-group/abcde12345 \
        #--targets Id=$(curl -s http://3.235.14.1/latest/meta-data/instance-id)

# Optional: If you want to set up a listener for this target group
  #create_listener:
    #command: |
      #aws elbv2 create-listener \
       # --load-balancer-arn arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/abcde12345 \
       # --port 80 \
       # --protocol HTTP \
       # --default-actions Type=forward,TargetGroupArn=arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-extra-target-group/abcde12345
